# Pump It Up Challenge Test Dataset Feature Engineering

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np

In [5]:
#doing all the feature engineering steps of training set to the test set

In [6]:
final_train_df = pd.read_csv(
    "/Users/taniaelachkar/Desktop/MBD/Term 2/Machine Learning II/assignment 2/Pump_it_Up_Data_Mining_the_Water_Table_-_Test_set_values.csv", sep=',', index_col="id",
)
final_train_df.head()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,Internal,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,Pangani,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,Internal,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,Ruvuma / Southern Coast,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,Ruvuma / Southern Coast,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [7]:
#to get a count of the null values per column
final_train_df.isnull().sum()
#from below we see funder, installer, subvillage, public_meeting, scheme_management, scheme_name and permit variables have null values.

amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64

In [8]:
#we start with funder variable analysis
final_train_df.funder.value_counts()

Government Of Tanzania            2215
Danida                             793
Hesawa                             580
World Bank                         352
Kkkt                               336
Rwssp                              329
World Vision                       316
Unicef                             267
Tasaf                              259
Dhv                                236
Private Individual                 208
0                                  203
Dwsp                               201
District Council                   194
Norad                              184
Water                              156
Germany Republi                    155
Ministry Of Water                  138
Tcrs                               133
Hifab                              127
Netherlands                        122
Dwe                                121
Lga                                104
Adb                                103
Amref                              100
Rc Church                           89
Private                             85
Wateraid                            83
Fini Water                          81
Mission                             78
                                  ...
Othodox Church                       1
Tlc/community                        1
Tcrs /government                     1
Nipon & Panoco                       1
Villager                             1
Senapa                               1
Nyamigogo                            1
Parastatal                           1
Lottery Club                         1
Bi Kidawa                            1
Rc Cathoric                          1
Tasmin                               1
Local Government                     1
Leef Gold Mining                     1
Salim Ahmed Salim                    1
Colon                                1
Japan Government                     1
Songa Hospi                          1
Wazieni Bilangali                    1
Islamic                              1
Ilolangulu Water Supply/mileni       1
Kibo Brewaries                       1
School Adm9nstrarion                 1
World Bank/government                1
None                                 1
Water User Group                     1
Nado                                 1
Friends Of Kahama                    1
Lga And The Commu                    1
Lench                                1
Name: funder, Length: 980, dtype: int64

In [9]:
final_train_df.water_quality.value_counts()

soft                  12687
salty                  1226
unknown                 469
milky                   201
coloured                133
salty abandoned          84
fluoride                 44
fluoride abandoned        6
Name: water_quality, dtype: int64

In [10]:
final_train_df.quality_group.value_counts()

good        12687
salty        1310
unknown       469
milky         201
colored       133
fluoride       50
Name: quality_group, dtype: int64

In [11]:
# Creating a function to categorize:
# Keep high frequency values and replace low frequency values with new category "other"
def wrangler_function(row,colName,highFrequencyEntity):  
    if row[colName] in highFrequencyEntity:
        return row[colName]
    else:
        return 'other'

In [12]:
final_train_df['funder'] = final_train_df['funder'].str.lower().str.slice(0,3)
final_train_df.funder.value_counts()

gov    2223
dan     796
wor     678
hes     584
kkk     405
rws     337
uni     302
pri     300
tas     292
wat     291
dhv     255
dws     218
fin     212
0       203
nor     198
dis     194
ger     179
net     165
min     143
dwe     141
tcr     137
hif     127
oxf     126
rc      122
rom     110
lga     105
adb     103
ces     101
mis     101
amr     100
       ...
eba       1
ci        1
umo       1
wam       1
nic       1
fic       1
q-s       1
run       1
mdc       1
tea       1
env       1
dol       1
isg       1
fid       1
mja       1
mwe       1
pol       1
wis       1
ox        1
lcd       1
agn       1
iuc       1
ba        1
new       1
tgt       1
rub       1
mou       1
rul       1
h/k       1
nad       1
Name: funder, Length: 577, dtype: int64

In [13]:
highFrequencyEntity = ('gov','dan','hes','rws','wor','kkk','uni','pri','wat','tas')        
final_train_df['funder'] = final_train_df.apply(lambda row: wrangler_function(row,'funder',highFrequencyEntity), axis=1)
final_train_df.funder.value_counts()

other    8642
gov      2223
dan       796
wor       678
hes       584
kkk       405
rws       337
uni       302
pri       300
tas       292
wat       291
Name: funder, dtype: int64

In [14]:
# Exploring "installer" variable
#repeat the same process as funder with the installer variable
final_train_df['installer'] = final_train_df['installer'].str.lower().str.slice(0,3)
#final_train_df.installer.value_counts()
# Categorizing funder variable, Reducing the levels of the funder variable
highFrequencyEntity = ('dwe','gov','dan','com','hes','dis','rwe','wor','kkk','cen')        
final_train_df['installer'] = final_train_df.apply(lambda row: wrangler_function(row,'installer',highFrequencyEntity), axis=1)
final_train_df.installer.value_counts()

other    7174
dwe      4359
gov       677
com       441
dan       418
hes       374
dis       310
rwe       309
kkk       294
wor       253
cen       241
Name: installer, dtype: int64

In [15]:
#analyzing sub-village
#Checking number of unique values to categorize subvillage
print('Number of Sub-villages: ', len(final_train_df.subvillage.value_counts()))
final_train_df.subvillage.value_counts()

Number of Sub-villages:  8443

Shuleni                 140
Majengo                 129
Madukani                121
Kati                     94
Sokoni                   62
Mtakuja                  60
M                        56
Songambele               47
Mbuyuni                  46
Muungano                 43
Amani                    38
Mlimani                  38
Kanisani                 35
Miembeni                 34
Bondeni                  31
Msikitini                30
Kibaoni                  29
Senta                    27
Kichangani               26
1                        25
Nyerere                  24
Mtaa Wa Kitunda Kati     24
Mjini                    23
Mwenge                   23
Kisiwani                 22
Mjimwema                 21
Mkwajuni                 21
Mtaa Wa Kivule           21
Msumbiji                 21
Msufini                  20
                       ...
Nkonko                    1
Mwihando                  1
Usinge Kati               1
Buyagu                    1
Nzoga                     1
Kigaga                    1
Hhasangw                  1
Msindeni A                1
Mpalamawe                 1
Msalama                   1
Ighuka                    1
Lyamabumbe                1
Ibushi                    1
Lwamdembwe                1
Njeje                     1
Kimanganuni Kati          1
Udongo Mashariki          1
Kabuyombo                 1
Mnyengachi                1
Lutaru                    1
Mfundize                  1
Mgwashi                   1
Kabakesa                  1
Foini B                   1
Busangi                   1
Sagalwa                   1
Matongolo                 1
Karangi                   1
Kashambi                  1
Maara                     1
Name: subvillage, Length: 8443, dtype: int64

In [16]:
# As there are so many unique values, high frequency values will not be able to dominate other variables. 
# Hence, it is advisable to remove the column from dataset.
final_train_df = final_train_df.drop('subvillage', axis=1)

In [17]:
final_train_df.shape

(14850, 38)

In [18]:
final_train_df.public_meeting.value_counts()

True     12738
False     1291
Name: public_meeting, dtype: int64

In [19]:
final_train_df.skew()

amount_tsh           43.857861
gps_height            0.497094
longitude            -4.173130
latitude             -0.156238
num_private          50.744510
region_code           3.201174
district_code         3.959339
population            8.217148
public_meeting       -2.823088
permit               -0.827471
construction_year    -0.609383
dtype: float64

In [20]:
final_train_df.public_meeting = final_train_df.public_meeting.fillna(True)

In [21]:
#analyzing scheme_management variable
final_train_df.scheme_management.value_counts()

VWC                 9124
WUG                 1290
Water authority      822
Water Board          714
WUA                  668
Parastatal           444
Company              280
Private operator     263
Other                230
SWC                   26
Trust                 20
Name: scheme_management, dtype: int64

In [22]:
# Since ther 'scheme_management' variable includes high frequency and few low as well. We'll categorize it.
highFrequencyEntity = ('VWC','WUG','Water authority','WUA','Water Board','Parastatal','Private Operator','Company')        
final_train_df['scheme_management'] = final_train_df.apply(lambda row: wrangler_function(row,'scheme_management',highFrequencyEntity), axis=1)
final_train_df.scheme_management.value_counts()

VWC                9124
other              1508
WUG                1290
Water authority     822
Water Board         714
WUA                 668
Parastatal          444
Company             280
Name: scheme_management, dtype: int64

In [23]:
#analyzing scheme_name variable
final_train_df.scheme_name.value_counts()

K                                        176
Borehole                                 158
None                                     150
DANIDA                                   104
Chalinze wate                             96
M                                         90
Government                                75
Bagamoyo wate                             67
Ngana water supplied scheme               65
wanging'ombe water supply s               62
Uroki-Bomang'ombe water sup               57
N                                         54
I                                         52
Handeni Trunk Main(H                      52
wanging'ombe supply scheme                50
Kirua kahe gravity water supply trust     44
Kijiji                                    44
Makwale water supplied sche               43
Machumba estate pipe line                 40
Lyamungo umbwe water supply               34
S                                         34
Mradi wa maji wa wino                     33
Losaa-Kia water supply                    32
Roman                                     32
Mkongoro Two                              32
upper Ruvu                                31
Mkongoro One                              31
mtwango water supply scheme               31
Kidia kilemapunda                         30
Una mkolowoni                             30
                                        ...
BL Vetenary                                1
Koronani Borehole                          1
Kinu                                       1
QWICKWIN                                   1
Sasani                                     1
TM Namwe                                   1
Marera water supply                        1
Pinyinyi water scheme                      1
Sawasa water supoly                        1
Kampogonyo water                           1
Lake victoria pipe scheme                  1
Zepi                                       1
Maja                                       1
Irevea sister water projec                 1
Kidu                                       1
Uhindi water supply                        1
Sauwasa water supply                       1
Vihi                                       1
Liuguru                                    1
Nangunde                                   1
Chimbendenga                               1
Bl kikwe water supply                      1
Mkuru Pumping water supply                 1
Mali water supply                          1
Good management                            1
Nyamasenene Water Supply                   1
Maranje water supply                       1
Ibil                                       1
Mashati water supply                       1
Naberera pipe scheme                       1
Name: scheme_name, Length: 1789, dtype: int64

In [24]:
# As there are so many unique values, high frequency values will not be able to dominate other variables. 
# Hence, it is advisable to remove the column from dataset.
final_train_df = final_train_df.drop('scheme_name', axis=1)

In [25]:
#analyzing permit variable
final_train_df.permit.value_counts()

True     9754
False    4359
Name: permit, dtype: int64

In [26]:
final_train_df.permit = final_train_df.permit.fillna(True)

In [27]:
#next we analyze with num_private column as it has a high skewness value
final_train_df.num_private.value_counts()

0      14656
1         21
5         14
8         12
15        12
6         11
3         11
4         10
93         9
102        8
2          8
17         7
11         7
47         6
16         5
22         5
65         5
32         5
7          5
45         5
39         4
34         3
50         2
120        2
80         2
12         2
41         2
25         2
180        2
23         1
13         1
420        1
10         1
26         1
141        1
669        1
Name: num_private, dtype: int64

In [28]:
#num_private column is removed as 99% of the column is filled with 0's
final_train_df = final_train_df.drop('num_private', axis=1)

In [29]:
final_train_df.shape

(14850, 36)

In [30]:
#analyzing recorded_by column
final_train_df.recorded_by.value_counts()

GeoData Consultants Ltd    14850
Name: recorded_by, dtype: int64

In [31]:
#Remove recorded_by column as it has only one value for all rows
final_train_df = final_train_df.drop('recorded_by', axis=1)

In [32]:
final_train_df.shape

(14850, 35)

In [33]:
#next we analyze with wpt_name column as it has a high skewness value
final_train_df.wpt_name.value_counts()

none                     877
Shuleni                  435
Zahanati                 204
Msikitini                112
Sokoni                    68
Kanisani                  67
Ofisini                   67
Bombani                   52
School                    52
Shule Ya Msingi           48
Shule                     39
Upendo                    37
Mkombozi                  34
Sekondari                 32
Muungano                  26
Songambele                24
Madukani                  24
Kituo Cha Afya            23
Umoja                     21
Bwawani                   20
Mbugani                   19
Bondeni                   19
Kisimani                  19
Center                    17
Shuleni Sekondari         16
Maendeleo                 15
Mtakuja                   15
Mkuyuni                   15
Mkwajuni                  15
Kilabuni                  14
                        ...
Plot 18                    1
Maji Ya Bluu               1
Wamata                     1
Kwa Sala Hassani           1
Kwa Hussein Tita           1
Nguzule                    1
Omary Dodo                 1
Mnoha                      1
Hamsa Kagoda               1
Kwamzirai                  1
Kwa Remija Kimbe           1
Kwa Raule                  1
Kwa Joseph Mdeke           1
Kwa Rusungu Maganga        1
Nyangamba Primary          1
Mtaa Wa Karitu             1
Kwa Baba Lai               1
Kwa Natalia Serafini       1
Mwita Muremi               1
Magezibili                 1
Kwachalachimu              1
Sembeti Park               1
Kwa Aron                   1
Kwa Davis Mwamunyange      1
Mkuru Mtc                  1
Palioni                    1
Combine B                  1
Zabron                     1
Kwa Bakari Athumani        1
Kwa Gidale                 1
Name: wpt_name, Length: 10840, dtype: int64

In [34]:
#Remove wpt_name column as it has only one value for all rows
final_train_df = final_train_df.drop('wpt_name', axis=1)

In [35]:
final_train_df.shape

(14850, 34)

In [36]:
#analyzing date_recorded column
final_train_df.date_recorded.unique()
#from below we see that the recorded dates in the year 2004 and 2002 could possibly be outliers

array(['2013-02-04', '2013-02-01', '2013-01-22', '2013-03-27',
       '2013-03-04', '2011-03-02', '2013-01-25', '2013-01-23',
       '2013-03-18', '2013-10-03', '2013-02-27', '2012-10-11',
       '2011-07-29', '2013-06-03', '2011-02-24', '2011-03-11',
       '2012-10-06', '2013-02-02', '2013-03-12', '2011-03-07',
       '2013-02-09', '2012-10-07', '2011-02-23', '2013-02-18',
       '2011-04-10', '2013-02-20', '2013-12-03', '2012-10-29',
       '2012-11-05', '2013-03-13', '2011-03-27', '2011-07-04',
       '2011-03-14', '2013-02-22', '2011-02-27', '2011-03-30',
       '2013-02-06', '2011-03-19', '2012-10-12', '2011-08-14',
       '2011-07-28', '2011-04-03', '2012-10-15', '2011-04-12',
       '2012-10-16', '2011-07-23', '2011-03-18', '2013-01-19',
       '2011-08-01', '2011-08-07', '2013-03-30', '2013-02-12',
       '2013-03-28', '2012-10-13', '2012-10-19', '2013-01-29',
       '2011-03-04', '2011-03-23', '2013-03-19', '2013-02-16',
       '2013-03-17', '2013-02-11', '2013-02-03', '2011-04-08',
       '2013-02-19', '2011-08-20', '2013-02-08', '2011-03-05',
       '2013-03-21', '2011-03-10', '2013-03-06', '2012-10-28',
       '2011-07-08', '2011-07-10', '2012-10-25', '2011-07-26',
       '2011-03-22', '2013-02-15', '2011-03-20', '2011-02-14',
       '2013-02-13', '2011-07-16', '2011-03-16', '2012-10-18',
       '2011-03-12', '2011-07-12', '2011-07-22', '2012-10-03',
       '2011-03-01', '2013-01-26', '2011-06-03', '2011-03-08',
       '2011-04-18', '2013-02-07', '2012-12-10', '2013-03-15',
       '2013-04-04', '2011-04-04', '2013-03-01', '2013-01-27',
       '2012-10-14', '2011-03-21', '2011-02-26', '2011-07-20',
       '2013-03-14', '2012-11-08', '2013-01-30', '2011-07-19',
       '2013-01-24', '2012-10-10', '2013-02-23', '2013-03-16',
       '2011-07-31', '2011-04-01', '2011-04-22', '2013-08-02',
       '2011-08-05', '2011-02-16', '2011-04-09', '2011-03-17',
       '2013-02-14', '2013-03-25', '2013-02-21', '2011-08-10',
       '2012-10-20', '2013-03-24', '2011-08-03', '2011-07-05',
       '2013-01-16', '2011-02-20', '2013-03-22', '2011-07-17',
       '2012-10-08', '2011-03-15', '2011-08-24', '2011-04-06',
       '2013-02-24', '2011-03-28', '2011-03-06', '2011-03-26',
       '2013-11-03', '2011-04-14', '2013-03-26', '2012-12-13',
       '2013-03-03', '2012-11-09', '2012-10-27', '2011-11-03',
       '2011-02-03', '2011-08-02', '2013-03-20', '2011-07-25',
       '2013-01-20', '2013-02-17', '2013-01-18', '2011-07-27',
       '2011-12-03', '2011-04-07', '2012-11-03', '2012-10-26',
       '2011-04-17', '2011-07-21', '2011-07-11', '2011-03-29',
       '2011-08-16', '2013-02-26', '2011-04-11', '2011-06-04',
       '2011-02-22', '2013-01-28', '2011-08-04', '2013-02-10',
       '2012-10-09', '2013-01-31', '2012-10-22', '2013-03-29',
       '2011-03-09', '2013-03-23', '2011-07-30', '2011-02-28',
       '2013-01-17', '2011-08-08', '2011-04-16', '2012-10-17',
       '2013-01-15', '2013-02-25', '2011-02-25', '2011-02-19',
       '2011-07-15', '2011-03-31', '2011-04-05', '2011-08-22',
       '2011-07-18', '2011-04-15', '2011-03-24', '2012-10-23',
       '2013-04-03', '2011-03-13', '2011-08-26', '2013-02-05',
       '2011-09-04', '2011-04-20', '2011-07-07', '2011-03-25',
       '2012-10-21', '2011-04-19', '2012-11-04', '2011-08-11',
       '2012-10-24', '2013-05-04', '2011-07-13', '2012-11-06',
       '2013-07-04', '2011-07-24', '2013-07-02', '2012-10-04',
       '2012-12-14', '2011-08-23', '2011-03-03', '2013-06-04',
       '2013-02-28', '2013-07-03', '2012-11-01', '2012-11-10',
       '2013-03-10', '2011-08-15', '2011-12-07', '2011-02-18',
       '2011-01-03', '2011-04-02', '2013-03-02', '2013-03-11',
       '2013-01-09', '2012-10-31', '2011-08-19', '2012-10-02',
       '2013-01-21', '2013-01-03', '2013-03-07', '2011-04-13',
       '2012-11-13', '2011-02-04', '2011-02-17', '2013-11-02',
       '2011-02-21', '2011-08-06', '2011-01-08', '2011-07-14',
       '2012-10-05', '2011-08-13', '2011-07-06', '2011-10-04',
       '2012-12-16', '2011-06-07', '2011-02-15', '2013-01-06',
       '2012-11-15', '2013-05-03', '2013-03-05', '2013-04-02',
       '2011-07-09', '2011-10-07', '2013-03-08', '2011-08-09',
       '2011-08-12', '2012-12-11', '2012-11-07', '2012-11-12',
       '2011-09-02', '2011-08-21', '2012-12-17', '2012-12-18',
       '2013-08-03', '2013-10-02', '2013-12-02', '2011-02-01',
       '2012-12-15', '2013-05-02', '2013-01-11', '2011-08-18',
       '2013-09-03', '2011-08-17', '2013-09-02', '2013-03-09',
       '2011-10-03', '2012-11-11', '2013-01-14', '2012-11-19',
       '2012-10-30', '2013-01-12', '2013-01-04', '2004-01-04',
       '2011-04-21', '2011-04-23', '2011-09-24', '2004-02-23',
       '2011-11-07', '2013-01-13', '2012-11-29', '2012-10-01',
       '2012-11-02', '2013-01-07', '2011-01-04', '2011-08-25',
       '2012-11-14', '2011-09-03', '2011-11-04', '2004-02-01',
       '2011-09-10', '2011-05-03', '2011-07-03', '2013-01-08',
       '2004-12-01', '2001-03-26', '2012-11-30', '2004-06-01',
       '2013-01-10', '2011-08-29', '2004-01-12', '2011-08-27',
       '2012-12-23', '2011-09-07', '2004-12-03', '2004-09-01',
       '2012-12-12', '2011-02-02', '2012-12-24', '2004-05-01',
       '2011-09-22', '2011-05-04', '2004-01-09'], dtype=object)

In [37]:
#analyzing construction_year feature
final_train_df.construction_year.unique()

array([2012, 2000, 2010, 1987, 1990, 2007, 1982, 1997, 2003, 2006, 2002,
          0, 1984, 1989, 1978, 2008, 2005, 1970, 2009, 1998, 1971, 1972,
       1983, 1974, 1992, 1999, 2004, 2011, 1988, 1962, 1986, 1985, 1969,
       1996, 1994, 1960, 1975, 1981, 1995, 1963, 1977, 2001, 1993, 1991,
       1976, 1980, 2013, 1979, 1967, 1973, 1968, 1965, 1961, 1966, 1964])

In [38]:
final_train_df.loc[(final_train_df.construction_year == 0), 'construction_year'] = final_train_df.construction_year.median()

In [39]:
#converting date_recorded and construction_year columns from object to datetime to  further process it
final_train_df['date_recorded'] = pd.to_datetime(final_train_df['date_recorded'])

In [40]:
#constructing the age feature from construction_year and date_recorded without removing the outliers
final_train_df['age'] = (final_train_df['date_recorded'].dt.year).sub(final_train_df['construction_year'], axis=0)
final_train_df['age']

id
50785     1.0
51630    13.0
17168     3.0
45559    26.0
49871    13.0
52449    23.0
24806     4.0
28965    31.0
36301    16.0
54122    10.0
419       7.0
45750    11.0
653      26.0
14017    25.0
44607    27.0
40228    24.0
27714    25.0
28785    33.0
28330    26.0
18532    31.0
69961     3.0
55083     3.0
8691      8.0
30331    43.0
70970    26.0
61136     3.0
28799     4.0
46825    25.0
44718    27.0
37350    11.0
         ...
52228    12.0
70038     6.0
25901    16.0
21131    25.0
26580     3.0
66059    35.0
32944    26.0
13686    25.0
8471     25.0
19620     8.0
74162    17.0
37994    26.0
71151    12.0
45017     8.0
12592    25.0
58693    27.0
57539     2.0
71252     3.0
7869     25.0
57316     6.0
59757     4.0
64579    26.0
57731     4.0
65541    18.0
68174    26.0
39307    23.0
18990    17.0
28749     3.0
33492     4.0
68707     5.0
Name: age, Length: 14850, dtype: float64

In [41]:
final_train_df.loc[(final_train_df.age == 0), 'age'] = final_train_df.age.median()

In [42]:
final_train_df.skew()
#as we see below the age feature has negative skewness due to the possibility of outliers in date_recorded column
#now we remove the outliers from the date_recorded column and construct the age column again

amount_tsh           43.857861
gps_height            0.497094
longitude            -4.173130
latitude             -0.156238
region_code           3.201174
district_code         3.959339
population            8.217148
public_meeting       -2.932518
permit               -0.906868
construction_year     0.106111
age                  -0.086473
dtype: float64

In [43]:
#since we have the age_wo feature, we can remove date_recorded and construction_year features from our dataframe
final_train_df = final_train_df.drop('date_recorded', axis=1)

In [44]:
final_train_df.shape

(14850, 34)

In [45]:
final_train_df.shape

(14850, 34)

In [46]:
#analyzing all extraction variables
final_train_df.extraction_type.value_counts()

gravity              6483
nira/tanira          2051
other                1672
submersible          1218
swn 80                918
mono                  763
india mark ii         629
afridev               438
ksb                   375
other - rope pump     121
other - swn 81         55
india mark iii         37
windmill               35
cemo                   18
other - play pump      16
walimi                 12
climax                  9
Name: extraction_type, dtype: int64

In [47]:
final_train_df.extraction_type_class.value_counts()

gravity         6483
handpump        4156
other           1672
submersible     1593
motorpump        790
rope pump        121
wind-powered      35
Name: extraction_type_class, dtype: int64

In [48]:
final_train_df.extraction_type_group.value_counts()

gravity            6483
nira/tanira        2051
other              1672
submersible        1593
swn 80              918
mono                763
india mark ii       629
afridev             438
rope pump           121
other handpump       83
india mark iii       37
wind-powered         35
other motorpump      27
Name: extraction_type_group, dtype: int64

In [49]:
#after observing all three extraction variables, we decide to keep extraction_type_class as it provides a more compact grouping for variable extraction.
final_train_df = final_train_df.drop('extraction_type_group', axis=1)

In [50]:
final_train_df = final_train_df.drop('extraction_type', axis=1)

In [51]:
final_train_df.shape

(14850, 32)

In [52]:
#analyzing the management variables
final_train_df.management.value_counts()

vwc                 10117
wug                  1593
water board           755
wua                   583
private operator      533
parastatal            461
other                 239
water authority       219
company               174
unknown               122
trust                  27
other - school         27
Name: management, dtype: int64

In [53]:
final_train_df.scheme_management.value_counts()

VWC                9124
other              1508
WUG                1290
Water authority     822
Water Board         714
WUA                 668
Parastatal          444
Company             280
Name: scheme_management, dtype: int64

In [54]:
#since scheme_management better represent management variable, we keep that and remove management variable
final_train_df = final_train_df.drop('management', axis=1)

In [55]:
final_train_df.shape

(14850, 31)

In [56]:
final_train_df.management_group.value_counts()
#from below, we see user-group dominates the management_group values, thus we remove the management_group feature

user-group    13048
commercial      953
parastatal      461
other           266
unknown         122
Name: management_group, dtype: int64

In [57]:
#final_train_df = final_train_df.drop('management_group', axis=1)
highFrequencyEntity = ('user-group','commercial','parastatal','other')        
final_train_df['management_group'] = final_train_df.apply(lambda row: wrangler_function(row,'management_group',highFrequencyEntity), axis=1)
final_train_df.management_group.value_counts()

user-group    13048
commercial      953
parastatal      461
other           388
Name: management_group, dtype: int64

In [58]:
final_train_df.shape

(14850, 31)

In [59]:
#analyzing payment variable
final_train_df.payment.value_counts()

never pay                6364
pay per bucket           2281
pay monthly              2097
unknown                  1992
pay when scheme fails     928
pay annually              928
other                     260
Name: payment, dtype: int64

In [60]:
final_train_df.payment_type.value_counts()

never pay     6364
per bucket    2281
monthly       2097
unknown       1992
annually       928
on failure     928
other          260
Name: payment_type, dtype: int64

In [61]:
#since the payment and payment_type have same values and value counts, we remove payment feature
final_train_df = final_train_df.drop('payment', axis=1)

In [62]:
#analyzing water quality features
final_train_df.water_quality.value_counts()

soft                  12687
salty                  1226
unknown                 469
milky                   201
coloured                133
salty abandoned          84
fluoride                 44
fluoride abandoned        6
Name: water_quality, dtype: int64

In [63]:
final_train_df.quality_group.value_counts()

good        12687
salty        1310
unknown       469
milky         201
colored       133
fluoride       50
Name: quality_group, dtype: int64

In [64]:
#we keep quality_group and remove water_quality from above analysis
final_train_df = final_train_df.drop('water_quality', axis=1)

In [65]:
#analyzing quantity variables
final_train_df.quantity_group.value_counts()

enough          8336
insufficient    3767
dry             1536
seasonal        1025
unknown          186
Name: quantity_group, dtype: int64

In [66]:
final_train_df.quantity.value_counts()

enough          8336
insufficient    3767
dry             1536
seasonal        1025
unknown          186
Name: quantity, dtype: int64

In [67]:
#since the quantity and quantity_group have same values and value counts, we remove quantity_group feature
final_train_df = final_train_df.drop('quantity_group', axis=1)

In [68]:
#analyzing waterpoint features
final_train_df.waterpoint_type.value_counts()

communal standpipe             7106
hand pump                      4396
other                          1630
communal standpipe multiple    1508
improved spring                 175
cattle trough                    34
dam                               1
Name: waterpoint_type, dtype: int64

In [69]:
final_train_df.waterpoint_type_group.value_counts()

communal standpipe    8614
hand pump             4396
other                 1630
improved spring        175
cattle trough           34
dam                      1
Name: waterpoint_type_group, dtype: int64

In [70]:
#removing waterpoint_type feature
final_train_df =final_train_df.drop('waterpoint_type', axis=1)

In [71]:
#analyzing source features
final_train_df.source.value_counts()

shallow well            4316
spring                  4195
machine dbh             2747
river                   2352
rainwater harvesting     568
hand dtw                 234
lake                     185
dam                      184
other                     49
unknown                   20
Name: source, dtype: int64

In [72]:
final_train_df.source_class.value_counts()

groundwater    11492
surface         3289
unknown           69
Name: source_class, dtype: int64

In [73]:
final_train_df.source_type.value_counts()

shallow well            4316
spring                  4195
borehole                2981
river/lake              2537
rainwater harvesting     568
dam                      184
other                     69
Name: source_type, dtype: int64

In [74]:
#removing source feature from the dataset and transforming source_type
final_train_df = final_train_df.drop('source', axis=1)
highFrequencyEntity = ('spring','shallow well','borehole','river/lake','other')        
final_train_df['source_type'] = final_train_df.apply(lambda row: wrangler_function(row,'source_type',highFrequencyEntity), axis=1)
final_train_df.source_type.value_counts()

shallow well    4316
spring          4195
borehole        2981
river/lake      2537
other            821
Name: source_type, dtype: int64

In [75]:
#analyzing gps_height feature
final_train_df.gps_height.value_counts()

 0       5211
-19        18
 1294      18
 1343      18
 1283      17
-16        16
 1285      16
 1373      16
 1301      15
 1293      15
 1183      15
 1362      15
 1666      14
-11        14
 1306      14
 1270      14
 1254      14
 1337      14
 1312      14
 1341      14
 1431      13
 1309      13
 1303      13
 1249      13
 258       13
 272       13
-12        13
-14        13
-13        13
 78        13
         ...
 2451       1
 386        1
 2427       1
 2142       1
 578        1
 2331       1
 2166       1
 2307       1
 2182       1
 135        1
 154        1
 546        1
 594        1
 1114       1
 778        1
 1050       1
 1034       1
-57         1
 826        1
 818        1
 810        1
 2118       1
 618        1
 746        1
 738        1
 722        1
 698        1
 2126       1
 674        1
 2023       1
Name: gps_height, Length: 2157, dtype: int64

In [76]:
#analyzing amount_tsh feature
final_train_df.amount_tsh.sort_values(ascending=False)

id
12818    200000.0
17971    100000.0
1676      70000.0
28695     60000.0
69564     50000.0
40007     50000.0
56875     40000.0
58096     35000.0
44188     35000.0
14114     35000.0
42250     30000.0
53544     30000.0
27458     30000.0
49784     30000.0
52700     25000.0
72487     25000.0
13646     25000.0
31802     25000.0
18291     25000.0
23914     25000.0
6112      25000.0
5243      20000.0
3517      20000.0
61906     20000.0
70268     20000.0
50686     20000.0
1468      20000.0
4970      20000.0
32401     20000.0
8854      18000.0
           ...
14119         0.0
25314         0.0
34430         0.0
45466         0.0
56390         0.0
49562         0.0
37377         0.0
40319         0.0
38029         0.0
53170         0.0
38073         0.0
13224         0.0
5142          0.0
49976         0.0
18764         0.0
71308         0.0
71368         0.0
20427         0.0
49407         0.0
17632         0.0
60578         0.0
2751          0.0
8786          0.0
34984         0.0
48430         0.0
7471          0.0
39928         0.0
14612         0.0
66802         0.0
50785         0.0
Name: amount_tsh, Length: 14850, dtype: float64

In [77]:
am = final_train_df.loc[(final_train_df.quantity == 'enough')][['amount_tsh']].mean()

In [78]:
final_train_df.loc[(final_train_df.quantity == 'enough') & (final_train_df.amount_tsh == 0), 'amount_tsh'] = am[0]

In [79]:
final_train_df.region_code.value_counts()

17    1323
11    1308
12    1120
3     1115
5     1039
18     859
19     777
16     717
2      685
10     666
4      632
1      578
14     509
20     482
13     443
15     434
6      423
21     389
80     298
60     273
90     216
7      215
9      109
99      89
24      76
8       75
Name: region_code, dtype: int64

In [80]:
final_train_df.latitude.describe()

count    1.485000e+04
mean    -5.684724e+00
std      2.940803e+00
min     -1.156459e+01
25%     -8.443970e+00
50%     -5.049750e+00
75%     -3.320594e+00
max     -2.000000e-08
Name: latitude, dtype: float64

In [81]:
final_train_df.longitude.describe()

count    14850.000000
mean        34.061605
std          6.593034
min          0.000000
25%         33.069455
50%         34.901215
75%         37.196594
max         40.325016
Name: longitude, dtype: float64

In [82]:
final_train_df.loc[(final_train_df.longitude == 0),'longitude'] = final_train_df.longitude.mean()

In [83]:
final_train_df.loc[(final_train_df.longitude == 0), 'longitude'] = final_train_df.longitude.mean()

final_train_df['x'] = np.cos(final_train_df.latitude) * np.cos(final_train_df.longitude)

final_train_df['y'] = np.cos(final_train_df.latitude) * np.sin(final_train_df.longitude)

final_train_df['z'] = np.sin(final_train_df.latitude)

In [84]:
#removing waterpoint_type feature
final_train_df =final_train_df.drop('region', axis=1)

In [85]:
#removing waterpoint_type feature
final_train_df =final_train_df.drop('lga', axis=1)

In [86]:
#removing waterpoint_type feature
final_train_df =final_train_df.drop('ward', axis=1)

In [87]:
final_train_df.loc[final_train_df.gps_height == 0].groupby(final_train_df.extraction_type_class)[['latitude', 'longitude','gps_height']].describe()

                      latitude                                           \
                         count      mean       std        min       25%
extraction_type_class
gravity                 1645.0 -5.889046  3.354854  -9.702382 -9.210144
handpump                2104.0 -3.719465  2.562832  -9.698261 -4.761059
motorpump                395.0 -5.083687  1.708228  -8.610205 -6.146603
other                    699.0 -3.494544  2.003285  -9.355727 -4.337145
rope pump                 16.0 -2.753803  0.431731  -3.618500 -2.714635
submersible              333.0 -4.876541  2.421095 -10.300754 -6.393259
wind-powered              19.0 -4.349698  1.094789  -6.309469 -5.102937

                                                        longitude             \
                            50%       75%           max     count       mean
extraction_type_class
gravity               -6.369743 -2.501442 -2.000000e-08    1645.0  33.297117
handpump              -3.275442 -2.609763 -2.000000e-08    2104.0  33.227555
motorpump             -5.556993 -4.556787 -2.000000e-08     395.0  34.907020
other                 -3.694612 -2.542078 -2.000000e-08     699.0  33.285567
rope pump             -2.577615 -2.506643 -2.424257e+00      16.0  31.314412
submersible           -5.429984 -3.727794 -2.000000e-08     333.0  34.725757
wind-powered          -3.791406 -3.696741 -2.397158e+00      19.0  35.124616

                      ...                        gps_height                 \
                      ...         75%        max      count mean  std  min
extraction_type_class ...
gravity               ...   33.912640  39.093836     1645.0  0.0  0.0  0.0
handpump              ...   34.061605  39.166537     2104.0  0.0  0.0  0.0
motorpump             ...   35.914585  39.095660      395.0  0.0  0.0  0.0
other                 ...   33.892012  39.171752      699.0  0.0  0.0  0.0
rope pump             ...   31.371117  33.536872       16.0  0.0  0.0  0.0
submersible           ...   36.508453  39.868533      333.0  0.0  0.0  0.0
wind-powered          ...   35.727251  38.502588       19.0  0.0  0.0  0.0


                       25%  50%  75%  max
extraction_type_class
gravity                0.0  0.0  0.0  0.0
handpump               0.0  0.0  0.0  0.0
motorpump              0.0  0.0  0.0  0.0
other                  0.0  0.0  0.0  0.0
rope pump              0.0  0.0  0.0  0.0
submersible            0.0  0.0  0.0  0.0
wind-powered           0.0  0.0  0.0  0.0

[7 rows x 24 columns]

In [88]:
hm = final_train_df.loc[(final_train_df.extraction_type_class != 'gravity')][['gps_height']].mean()

In [89]:
final_train_df.loc[(final_train_df.extraction_type_class != 'gravity') & (final_train_df.gps_height == 0), 'gps_height'] = hm[0]

In [90]:
final_train_df.shape

(14850, 26)

In [91]:
#converting all categorical variables to dummy variables
train_d = final_train_df.copy()
train_d = pd.get_dummies(train_d)

In [92]:
train_d.shape

(14850, 96)

In [93]:
#do the above steps with test data
train_d.to_csv("testset1.csv", sep=',', encoding='utf-8')

In [94]:
train_d.shape

(14850, 96)