# Pump It Up Challenge

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(
    "/Users/taniaelachkar/Desktop/MBD/Term 2/Machine Learning II/assignment 2/Pump_it_Up_Data_Mining_the_Water_Table_-_Training_set_values.csv", sep=',', index_col="id",
)
df.head()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 69572 to 26348
Data columns (total 39 columns):
amount_tsh               59400 non-null float64
date_recorded            59400 non-null object
funder                   55765 non-null object
gps_height               59400 non-null int64
installer                55745 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
num_private              59400 non-null int64
basin                    59400 non-null object
subvillage               59029 non-null object
region                   59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           56066 non-null object
recorded_by              59400 non-null object
scheme_management        55523 non-null object
scheme_name              31234 non-null object
permit                   56344 non-null object
construction_year        59400 non-null int64
extraction_type          59400 non-null object
extraction_type_group    59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
management_group         59400 non-null object
payment                  59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quality_group            59400 non-null object
quantity                 59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_type              59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
waterpoint_type_group    59400 non-null object
dtypes: float64(3), int64(6), object(30)
memory usage: 18.1+ MB

In [5]:
df2 = pd.read_csv("/Users/taniaelachkar/Desktop/MBD/Term 2/Machine Learning II/assignment 2/Pump_it_Up_Data_Mining_the_Water_Table_-_Training_set_labels.csv" , sep = ',', index_col = 'id')
df2.head(5)

         status_group
id
69572      functional
8776       functional
34310      functional
67743  non functional
19728      functional

In [6]:
#checking for nulls in training labels dataset
df2.isnull().sum()

status_group    0
dtype: int64

In [7]:
#combining trainset and training-labels dataframes
final_train_df = pd.concat([df, df2], axis = 1, join = "inner")
final_train_df.head(10)

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
9944,20.0,2011-03-13,Mkinga Distric Coun,0,DWE,39.172796,-4.765587,Tajiri,0,Pangani,...,salty,salty,enough,enough,other,other,unknown,communal standpipe multiple,communal standpipe,functional
19816,0.0,2012-10-01,Dwsp,0,DWSP,33.362410,-3.766365,Kwa Ngomho,0,Internal,...,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
54551,0.0,2012-10-09,Rwssp,0,DWE,32.620617,-4.226198,Tushirikiane,0,Lake Tanganyika,...,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,non functional
53934,0.0,2012-11-03,Wateraid,0,Water Aid,32.711100,-5.146712,Kwa Ramadhan Musa,0,Lake Tanganyika,...,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
46144,0.0,2011-08-03,Isingiro Ho,0,Artisan,30.626991,-1.257051,Kwapeto,0,Lake Victoria,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional

In [8]:
#to get a count of the null values per column
final_train_df.isnull().sum()
#from below we see funder, installer, subvillage, public_meeting, scheme_management, scheme_name and permit variables have null values.

amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [9]:
#we start with funder and installer variable analysis
final_train_df.funder.value_counts()

Government Of Tanzania            9084
Danida                            3114
Hesawa                            2202
Rwssp                             1374
World Bank                        1349
Kkkt                              1287
World Vision                      1246
Unicef                            1057
Tasaf                              877
District Council                   843
Dhv                                829
Private Individual                 826
Dwsp                               811
0                                  777
Norad                              765
Germany Republi                    610
Tcrs                               602
Ministry Of Water                  590
Water                              583
Dwe                                484
Netherlands                        470
Hifab                              450
Adb                                448
Lga                                442
Amref                              425
Fini Water                         393
Oxfam                              359
Wateraid                           333
Rc Church                          321
Isf                                316
                                  ...
Ngo                                  1
Sweeden                              1
Nyanza Road                          1
Pentecostal                          1
Bread Of The Worl                    1
Oikos E.Africa/ European Union       1
Abddwe                               1
Sobodo                               1
Ngelepo Group                        1
Misana George                        1
Lizad                                1
Sda Church                           1
Tlc/jenus Malecha                    1
Lungwe                               1
Matogoro                             1
Wamarekani                           1
Makanga                              1
Ruangwa Lga                          1
Songa Hospi                          1
Brad                                 1
Ambwene Mwaikek                      1
Full Gospel Church                   1
Worldvision                          1
Nyamuhanga Maro                      1
Mkulima                              1
Wwf / Fores                          1
Dqnida                               1
Mamaz                                1
Ur                                   1
S.S Mohamed                          1
Name: funder, Length: 1897, dtype: int64

In [10]:
# Make funder lowercase, take first 3 letters as a sub string as lot of values may mean the same installer
final_train_df['funder'] = final_train_df['funder'].str.lower().str.slice(0,3)

In [11]:
# Creating a function to categorize:
# Keep high frequency values and replace low frequency values with new category "other"
def wrangler_function(row,colName,highFrequencyEntity):  
    if row[colName] in highFrequencyEntity:
        return row[colName]
    else:
        return 'other'

In [12]:
# Categorizing funder variable, Reducing the levels of the funder variable
highFrequencyEntity = ('gov','dan','hes','rws','wor','kkk','uni','pri','wat','tas')        
final_train_df['funder'] = final_train_df.apply(lambda row: wrangler_function(row,'funder',highFrequencyEntity), axis=1)
final_train_df.funder.value_counts()

other    34820
gov       9123
dan       3117
wor       2633
hes       2216
kkk       1540
rws       1406
uni       1202
pri       1146
wat       1137
tas       1060
Name: funder, dtype: int64

In [13]:
# Exploring "installer" variable
#repeat the same process as funder with the installer variable
final_train_df['installer'] = final_train_df['installer'].str.lower().str.slice(0,3)
# Categorizing funder variable, Reducing the levels of the funder variable
highFrequencyEntity = ('dwe','gov','dan','com','hes','dis','rwe','wor','kkk','cen')        
final_train_df['installer'] = final_train_df.apply(lambda row: wrangler_function(row,'installer',highFrequencyEntity), axis=1)
final_train_df.installer.value_counts()

other    28631
dwe      17432
gov       2668
dan       1682
com       1681
hes       1402
dis       1374
rwe       1292
kkk       1163
cen       1072
wor       1003
Name: installer, dtype: int64

In [14]:
#analyzing sub-village
#Checking number of unique values to categorize subvillage
print('Number of Sub-villages: ', len(final_train_df.subvillage.value_counts()))
final_train_df.subvillage.value_counts()

Number of Sub-villages:  19287

Madukani          508
Shuleni           506
Majengo           502
Kati              373
Mtakuja           262
Sokoni            232
M                 187
Muungano          172
Mbuyuni           164
Mlimani           152
Songambele        147
Msikitini         134
Miembeni          134
1                 132
Kibaoni           114
Kanisani          111
I                 109
Mapinduzi         109
Mjimwema          108
Mjini             108
Mkwajuni          104
Mwenge            102
Azimio             98
Mabatini           98
Mission            95
Mbugani            95
Bwawani            91
Bondeni            90
Chang'Ombe         88
Zahanati           86
                 ...
Nyunjwi             1
Mwaburura           1
Mwamidu             1
Mwaluhende          1
Mwangae             1
Nyakahunga          1
Tyula               1
Bulyamuru           1
Semaki A            1
Mitimingi           1
Jamusi Ng'Ambo      1
Mpunga Relini       1
Mtitaa              1
Kashenye            1
Kagoma A            1
Mwanghalanga B      1
Mnogelwa            1
Ilundo              1
Ivangalala          1
Engusero A          1
Rwamalebe           1
Mabombani           1
Salong'We A         1
Masasi A            1
Kokakwe             1
Mnafu               1
W                   1
Unyakhae            1
Naipuli             1
Uhamiaji            1
Name: subvillage, Length: 19287, dtype: int64

In [15]:
# As there are so many unique values, high frequency values will not be able to dominate other variables. 
# Hence, it is advisable to remove the column from dataset.
final_train_df = final_train_df.drop('subvillage', axis=1)

In [16]:
final_train_df.shape

(59400, 39)

In [17]:
#analyzing public_meeting variable
final_train_df.public_meeting.value_counts()

True     51011
False     5055
Name: public_meeting, dtype: int64

In [18]:
#analyzing public_meeting variable wrt status_group
final_train_df.public_meeting.value_counts()
final_train_df.groupby('status_group')[['public_meeting']].sum()

                         public_meeting
status_group
functional                        28408
functional needs repair            3719
non functional                    18884

In [19]:
final_train_df.skew()

amount_tsh           57.807800
gps_height            0.462402
longitude            -4.191046
latitude             -0.152037
num_private          91.933750
region_code           3.173818
district_code         3.962045
population           12.660714
public_meeting       -2.861945
permit               -0.819382
construction_year    -0.634928
dtype: float64

In [20]:
final_train_df.public_meeting = final_train_df.public_meeting.fillna(True)

In [21]:
#analyzing scheme_management variable
final_train_df.scheme_management.value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [22]:
# Since the 'scheme_management' variable includes high frequency and a few low frequency variables,
#we reduce the number of levels for that variable
highFrequencyEntity = ('VWC','WUG','Water authority','WUA','Water Board','Parastatal','Private Operator','Company')        
final_train_df['scheme_management'] = final_train_df.apply(lambda row: wrangler_function(row,'scheme_management',highFrequencyEntity), axis=1)
final_train_df.scheme_management.value_counts()

VWC                36793
other               5876
WUG                 5206
Water authority     3153
WUA                 2883
Water Board         2748
Parastatal          1680
Company             1061
Name: scheme_management, dtype: int64

In [23]:
#analyzing scheme_name variable
final_train_df.scheme_name.value_counts()

K                                               682
None                                            644
Borehole                                        546
Chalinze wate                                   405
M                                               400
DANIDA                                          379
Government                                      320
Ngana water supplied scheme                     270
wanging'ombe water supply s                     261
wanging'ombe supply scheme                      234
I                                               229
Bagamoyo wate                                   229
Uroki-Bomang'ombe water sup                     209
N                                               204
Kirua kahe gravity water supply trust           193
Machumba estate pipe line                       185
Makwale water supplied sche                     166
Kijiji                                          161
S                                               154
Losaa-Kia water supply                          152
Handeni Trunk Main(H                            152
mtwango water supply scheme                     152
Mkongoro Two                                    147
Roman                                           139
Mkongoro One                                    128
Maambreni gravity water supply                  125
Lyamungo umbwe water supply                     120
Kirua kahe pumping water trust                  113
Ki                                              107
Nabaiye pipe line                               107
                                               ...
KKKT                                              1
Zimba water supply                                1
Kamsunzu Water Supply                             1
Sakidawa                                          1
Kubugege Solar Energy                             1
Ngoyoni hospital water supply                     1
Mkeyui streem                                     1
IKTM 2 water supply                               1
Bany                                              1
Nyakayenzi gravity point source water supply      1
Pwani water supply (Ruvu)                         1
Ketumbeine water project                          1
Tove-mtwango                                      1
Madimba water supply                              1
Kasahunga pipe scheme                             1
Kigonigoni water supply                           1
Kifunikoni water supply                           1
TM lawate  water supply                           1
Manjau                                            1
Mwamanoni village water pipe scheme               1
Gayu                                              1
Mirumba                                           1
fini water                                        1
Lwamgasa                                          1
BL Nkenku kijijini                                1
Kasota                                            1
Ndea Karamba water supply                         1
Mbawala chini water suplly                        1
Ushara lawate water supply                        1
Upper RUVU                                        1
Name: scheme_name, Length: 2696, dtype: int64

In [24]:
# As there are so many unique values, high frequency values will not be able to dominate other variables. 
# Hence, it is advisable to remove the column from dataset.
final_train_df = final_train_df.drop('scheme_name', axis=1)

In [25]:
#analyzing permit variable
final_train_df.permit.value_counts()

True     38852
False    17492
Name: permit, dtype: int64

In [26]:
final_train_df.groupby('status_group')[['permit']].sum()

                         permit
status_group
functional                21541
functional needs repair    2697
non functional            14614

In [27]:
final_train_df.permit = final_train_df.permit.fillna(True)

In [28]:
#next we analyze with num_private column as it has a high skewness value
final_train_df.num_private.value_counts()

0       58643
6          81
1          73
5          46
8          46
32         40
45         36
15         35
39         30
93         28
3          27
7          26
2          23
65         22
47         21
102        20
4          20
17         17
80         15
20         14
25         12
11         11
41         10
34         10
16          8
120         7
150         6
22          6
12          5
24          5
        ...
14          3
61          3
27          2
26          2
160         1
30          1
698         1
60          1
1402        1
450         1
668         1
131         1
35          1
672         1
42          1
136         1
87          1
300         1
280         1
141         1
62          1
111         1
240         1
1776        1
755         1
180         1
213         1
23          1
55          1
94          1
Name: num_private, Length: 65, dtype: int64

In [29]:
#num_private column is removed as 99% of the column is filled with 0's
final_train_df = final_train_df.drop('num_private', axis=1)

In [30]:
final_train_df.shape

(59400, 37)

In [31]:
#analyzing recorded_by column
final_train_df.recorded_by.value_counts()

GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64

In [32]:
#Remove recorded_by column as it has only one value for all rows
final_train_df = final_train_df.drop('recorded_by', axis=1)

In [33]:
final_train_df.shape

(59400, 36)

In [34]:
#next we analyze with wpt_name column as it has a high skewness value
final_train_df.wpt_name.value_counts()

none                       3563
Shuleni                    1748
Zahanati                    830
Msikitini                   535
Kanisani                    323
Bombani                     271
Sokoni                      260
Ofisini                     254
School                      208
Shule Ya Msingi             199
Shule                       152
Sekondari                   146
Muungano                    133
Mkombozi                    111
Madukani                    104
Mbugani                      94
Hospital                     94
Upendo                       93
Kituo Cha Afya               90
Mkuyuni                      88
Umoja                        84
Center                       83
Ccm                          81
Kisimani                     78
Mtakuja                      76
Ofisi Ya Kijiji              76
Tankini                      73
Bwawani                      66
Songambele                   66
Maendeleo                    64
                           ...
Kwamkwanyule                  1
Kwa Tofa Fungo                1
Kwa Mzee Chimalila            1
Gesusu Waibe                  1
Mbueni A                      1
Mwita Chota                   1
Lwazi                         1
Melani                        1
Kwa Elifares Jafet            1
Kiteke                        1
Jiji                          1
Mwanindo Primary School       1
Kwaagustine                   1
Kwa Mwadini                   1
Kwa Hamis Mbaya               1
Kwalikoko                     1
Makaburini 2                  1
Kwa Mchapawali                1
Dambe                         1
Omary Ngoma                   1
Kwa Mw.Jackson                1
Kwa Donath Malyango           1
Mela                          1
Halawa Group                  1
Kwa Mwanzuzu                  1
Manyota Primary School        1
Elihabu                       1
Kwa Abiud                     1
Kwa John Olomi                1
Bora                          1
Name: wpt_name, Length: 37400, dtype: int64

In [35]:
#Remove wpt_name column as it has only one value for all rows
final_train_df = final_train_df.drop('wpt_name', axis=1)

In [36]:
final_train_df.shape

(59400, 35)

In [37]:
#analyzing date_recorded column
#final_train_df.date_recorded.unique()
#from below we see that the recorded dates in the year 2004 and 2002 could possibly be outliers

In [38]:
#analyzing construction_year feature
final_train_df.construction_year.value_counts()

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [39]:
#imputing the construction_year null values with the median of this variable
final_train_df.loc[(final_train_df.construction_year == 0), 'construction_year'] = final_train_df.construction_year.median()

In [40]:
#converting date_recorded and construction_year columns from object to datetime to  further process it
final_train_df['date_recorded'] = pd.to_datetime(final_train_df['date_recorded'])

In [41]:
final_train_df.date_recorded.value_counts()

2011-03-15    572
2011-03-17    558
2013-02-03    546
2011-03-14    520
2011-03-16    513
2011-03-18    497
2011-03-19    466
2013-02-04    464
2013-01-29    459
2011-03-04    458
2013-02-14    444
2013-01-24    435
2011-03-05    434
2013-02-15    429
2013-03-15    428
2011-03-11    426
2013-01-30    421
2013-02-16    418
2011-03-23    417
2011-03-09    416
2013-01-18    409
2011-03-30    391
2013-02-26    391
2013-03-19    381
2011-03-24    381
2013-02-13    380
2011-03-12    379
2013-01-23    379
2011-03-03    378
2013-01-28    376
             ...
2011-09-25      1
2012-01-21      1
2011-09-12      1
2004-04-01      1
2013-01-01      1
2012-01-25      1
2011-08-31      1
2004-04-05      1
2011-09-26      1
2011-09-20      1
2011-09-01      1
2011-09-06      1
2011-09-23      1
2011-09-05      1
2004-01-07      1
2011-09-17      1
2004-03-06      1
2011-09-21      1
2011-09-19      1
2011-09-11      1
2013-12-01      1
2011-09-15      1
2011-08-30      1
2011-09-28      1
2002-10-14      1
2004-06-01      1
2011-09-08      1
2011-09-16      1
2011-09-13      1
2011-09-18      1
Name: date_recorded, Length: 356, dtype: int64

In [42]:
#creating a new variable, age using the construction_year and date_recorded features, without removing the outliers
final_train_df['age'] = (final_train_df['date_recorded'].dt.year).sub(final_train_df['construction_year'], axis=0)
final_train_df['age']

id
69572    12.0
8776      3.0
34310     4.0
67743    27.0
19728    25.0
9944      2.0
19816    26.0
54551    26.0
53934    26.0
46144    25.0
49056     0.0
50409    26.0
36957    26.0
50495     4.0
53752    26.0
61848    20.0
48451    33.0
58155    33.0
34169    12.0
18274    19.0
48375     3.0
6091     27.0
58500    33.0
37862     2.0
51058     4.0
22308    39.0
55012     2.0
20145    25.0
19685    13.0
69124    11.0
         ...
14796    27.0
20387    26.0
29940    26.0
15233    25.0
49651    26.0
50998     6.0
34716    23.0
43986    26.0
38067     3.0
58255    25.0
30647    12.0
67885    19.0
47002     5.0
44616     5.0
72148    25.0
34473     1.0
34952     2.0
26640    13.0
72559    18.0
30410     2.0
13677    20.0
44885    46.0
40607    25.0
48348    26.0
11164     4.0
60739    14.0
27263    15.0
37057    25.0
31282    25.0
26348     9.0
Name: age, Length: 59400, dtype: float64

In [43]:
final_train_df.skew()
#as we see below the age feature has negative skewness due to the possibility of outliers in date_recorded column
#now we remove the outliers from the date_recorded column and construct the age column again

amount_tsh           57.807800
gps_height            0.462402
longitude            -4.191046
latitude             -0.152037
region_code           3.173818
district_code         3.962045
population           12.660714
public_meeting       -2.973921
permit               -0.901815
construction_year     0.093218
age                  -0.050716
dtype: float64

In [44]:
#deleting outliers from date_recorded feature
final_train_df = final_train_df[final_train_df.date_recorded != '2004-08-01']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-12-01']
final_train_df = final_train_df[final_train_df.date_recorded != '2002-10-14']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-05-01']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-04-05']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-06-01']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-01-07']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-03-01']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-07-01']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-03-06']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-09-01']
final_train_df = final_train_df[final_train_df.date_recorded != '2004-04-01']

In [45]:
#dropping the age column created before 
final_train_df = final_train_df.drop('age', axis=1)

In [46]:
#creating the age column after removing the outliers from date_recorded column
final_train_df['age_wo'] = (final_train_df['date_recorded'].dt.year).sub(final_train_df['construction_year'], axis=0)
final_train_df.age_wo.head()

id
69572    12.0
8776      3.0
34310     4.0
67743    27.0
19728    25.0
Name: age_wo, dtype: float64

In [47]:
final_train_df.loc[(final_train_df.age_wo == 0), 'age_wo'] = final_train_df.age_wo.median()

In [48]:
#checking for skewness again
final_train_df.skew()
#now we see that the skewness for age_wo feature is highly small as compared to the earlier age feature(which included the outliers)

amount_tsh           57.793042
gps_height            0.462127
longitude            -4.190498
latitude             -0.151936
region_code           3.175380
district_code         3.964930
population           12.659727
public_meeting       -2.973674
permit               -0.902070
construction_year     0.093213
age_wo               -0.068485
dtype: float64

In [49]:
#since we have the age_wo feature, we can remove date_recorded and construction_year features from our dataframe
final_train_df = final_train_df.drop('date_recorded', axis=1)
#final_train_df = final_train_df.drop('construction_year', axis=1)

In [50]:
final_train_df.shape

(59369, 35)

In [51]:
#analyzing all extraction variables
final_train_df.extraction_type.value_counts()

gravity                      26766
nira/tanira                   8150
other                         6424
submersible                   4764
swn 80                        3668
mono                          2865
india mark ii                 2398
afridev                       1769
ksb                           1415
other - rope pump              450
other - swn 81                 229
windmill                       117
india mark iii                  97
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [52]:
final_train_df.extraction_type_class.value_counts()

gravity         26766
handpump        16446
other            6424
submersible      6179
motorpump        2987
rope pump         450
wind-powered      117
Name: extraction_type_class, dtype: int64

In [53]:
final_train_df.extraction_type_group.value_counts()

gravity            26766
nira/tanira         8150
other               6424
submersible         6179
swn 80              3668
mono                2865
india mark ii       2398
afridev             1769
rope pump            450
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        97
Name: extraction_type_group, dtype: int64

In [54]:
#after observing all three extraction variables, we decide to keep extraction_type_class as it provides a more compact grouping for variable extraction.
final_train_df = final_train_df.drop('extraction_type_group', axis=1)

In [55]:
final_train_df = final_train_df.drop('extraction_type', axis=1)

In [56]:
final_train_df.shape

(59369, 33)

In [57]:
#analyzing the management variables
final_train_df.management.value_counts()

vwc                 40484
wug                  6511
water board          2933
wua                  2535
private operator     1970
parastatal           1767
water authority       904
other                 843
company               685
unknown               560
other - school         99
trust                  78
Name: management, dtype: int64

In [58]:
final_train_df.scheme_management.value_counts()

VWC                36771
other               5870
WUG                 5204
Water authority     3153
WUA                 2883
Water Board         2748
Parastatal          1679
Company             1061
Name: scheme_management, dtype: int64

In [59]:
#since scheme_management better represent management variable, we keep that and remove management variable
final_train_df = final_train_df.drop('management', axis=1)

In [60]:
final_train_df.shape

(59369, 32)

In [61]:
final_train_df.management_group.value_counts()
#from below, we see user-group dominates the management_group values, thus we remove the management_group feature

user-group    52463
commercial     3637
parastatal     1767
other           942
unknown         560
Name: management_group, dtype: int64

In [62]:
highFrequencyEntity = ('user-group','commercial','parastatal','other')        
final_train_df['management_group'] = final_train_df.apply(lambda row: wrangler_function(row,'management_group',highFrequencyEntity), axis=1)
final_train_df.management_group.value_counts()

user-group    52463
commercial     3637
parastatal     1767
other          1502
Name: management_group, dtype: int64

In [63]:
final_train_df.shape

(59369, 32)

In [64]:
#analyzing payment variable
final_train_df.payment.value_counts()

never pay                25331
pay per bucket            8981
pay monthly               8300
unknown                   8149
pay when scheme fails     3912
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [65]:
final_train_df.payment_type.value_counts()

never pay     25331
per bucket     8981
monthly        8300
unknown        8149
on failure     3912
annually       3642
other          1054
Name: payment_type, dtype: int64

In [66]:
#since the payment and payment_type have same values and value counts, we remove payment feature
final_train_df = final_train_df.drop('payment', axis=1)

In [67]:
#analyzing water quality features
final_train_df.water_quality.value_counts()

soft                  50793
salty                  4853
unknown                1875
milky                   803
coloured                490
salty abandoned         338
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [68]:
final_train_df.quality_group.value_counts()

good        50793
salty        5191
unknown      1875
milky         803
colored       490
fluoride      217
Name: quality_group, dtype: int64

In [69]:
#we keep quality_group and remove water_quality from above analysis
final_train_df = final_train_df.drop('water_quality', axis=1)

In [70]:
#analyzing quantity variables
final_train_df.quantity_group.value_counts()

enough          33171
insufficient    15122
dry              6241
seasonal         4047
unknown           788
Name: quantity_group, dtype: int64

In [71]:
final_train_df.quantity.value_counts()

enough          33171
insufficient    15122
dry              6241
seasonal         4047
unknown           788
Name: quantity, dtype: int64

In [72]:
#since the quantity and quantity_group have same values and value counts, we remove quantity_group feature
final_train_df = final_train_df.drop('quantity_group', axis=1)

In [73]:
#analyzing waterpoint features
final_train_df.waterpoint_type.value_counts()

communal standpipe             28515
hand pump                      17477
other                           6372
communal standpipe multiple     6099
improved spring                  783
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [74]:
final_train_df.waterpoint_type_group.value_counts()

communal standpipe    34614
hand pump             17477
other                  6372
improved spring         783
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

In [75]:
#removing waterpoint_type feature
final_train_df =final_train_df.drop('waterpoint_type', axis=1)

In [76]:
#analyzing source features
final_train_df.source.value_counts()

spring                  17010
shallow well            16810
machine dbh             11075
river                    9610
rainwater harvesting     2293
hand dtw                  873
lake                      764
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [77]:
final_train_df.source_class.value_counts()

groundwater    45768
surface        13323
unknown          278
Name: source_class, dtype: int64

In [78]:
final_train_df.source_type.value_counts()

spring                  17010
shallow well            16810
borehole                11948
river/lake              10374
rainwater harvesting     2293
dam                       656
other                     278
Name: source_type, dtype: int64

In [79]:
#removing the source feature from the dataset and transforming source_type
final_train_df = final_train_df.drop('source', axis=1)
highFrequencyEntity = ('spring','shallow well','borehole','river/lake','other')        
final_train_df['source_type'] = final_train_df.apply(lambda row: wrangler_function(row,'source_type',highFrequencyEntity), axis=1)
final_train_df.source_type.value_counts()

spring          17010
shallow well    16810
borehole        11948
river/lake      10374
other            3227
Name: source_type, dtype: int64

In [80]:
#analyzing gps_height feature
final_train_df.gps_height.value_counts()

 0       20426
-15         60
-16         55
-13         55
-20         52
 1290       52
-14         51
 303        51
-18         49
-19         47
 1269       46
 1295       46
 1304       45
-23         45
 280        44
 1538       44
 1286       44
-8          44
 1332       43
-17         43
 320        43
 1317       42
 1293       42
 1319       42
 1359       42
 1264       42
 1288       42
 1303       42
 1401       42
-6          41
         ...
 2506        1
 2023        1
-53          1
 2364        1
 2332        1
 2402        1
 2236        1
 2420        1
 2291        1
 2407        1
 2080        1
 2250        1
 591         1
 2378        1
 2535        1
 2614        1
 2484        1
 2450        1
 2072        1
 2286        1
 2567        1
 2322        1
 2254        1
 2264        1
 2464        1
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64

In [81]:
final_train_df.gps_height.describe()

count    59369.000000
mean       668.403190
std        693.141417
min        -90.000000
25%          0.000000
50%        369.000000
75%       1320.000000
max       2770.000000
Name: gps_height, dtype: float64

In [82]:
final_train_df.loc[final_train_df.gps_height == 0].groupby(final_train_df.extraction_type_class)[['latitude', 'longitude','gps_height']].describe()

                      latitude                                           \
                         count      mean       std        min       25%
extraction_type_class
gravity                 6691.0 -5.977806  3.321408  -9.700965 -9.209535
handpump                8475.0 -3.713858  2.603232 -10.365883 -4.761784
motorpump               1422.0 -5.085989  1.681895  -9.174394 -6.140495
other                   2545.0 -3.643832  2.048051  -9.605068 -4.677380
rope pump                 58.0 -3.093599  0.526587  -3.684709 -3.612097
submersible             1178.0 -4.687664  2.503654 -10.341677 -6.371729
wind-powered              57.0 -4.900276  1.232458  -6.354010 -6.228150

                                                        longitude             \
                            50%       75%           max     count       mean
extraction_type_class
gravity               -6.661262 -2.553213 -2.000000e-08    6691.0  32.915539
handpump              -3.265976 -2.541962 -2.000000e-08    8475.0  28.127888
motorpump             -5.563798 -4.576613 -2.000000e-08    1422.0  33.804613
other                 -3.732604 -2.599852 -2.000000e-08    2545.0  29.667804
rope pump             -3.272940 -2.526756 -2.404576e+00      58.0  32.219736
submersible           -5.067420 -2.971814 -2.000000e-08    1178.0  30.686069
wind-powered          -4.302425 -3.829409 -2.489090e+00      57.0  34.890073

                      ...                        gps_height                 \
                      ...         75%        max      count mean  std  min
extraction_type_class ...
gravity               ...   33.908424  39.102707     6691.0  0.0  0.0  0.0
handpump              ...   33.436079  40.092995     8475.0  0.0  0.0  0.0
motorpump             ...   35.918309  39.402391     1422.0  0.0  0.0  0.0
other                 ...   33.350146  39.373839     2545.0  0.0  0.0  0.0
rope pump             ...   33.495207  33.550109       58.0  0.0  0.0  0.0
submersible           ...   36.393413  40.246246     1178.0  0.0  0.0  0.0
wind-powered          ...   35.862783  38.503072       57.0  0.0  0.0  0.0


                       25%  50%  75%  max
extraction_type_class
gravity                0.0  0.0  0.0  0.0
handpump               0.0  0.0  0.0  0.0
motorpump              0.0  0.0  0.0  0.0
other                  0.0  0.0  0.0  0.0
rope pump              0.0  0.0  0.0  0.0
submersible            0.0  0.0  0.0  0.0
wind-powered           0.0  0.0  0.0  0.0

[7 rows x 24 columns]

In [84]:
hm = final_train_df.loc[(final_train_df.extraction_type_class != 'gravity')][['gps_height']].mean()

In [85]:
final_train_df.gps_height.describe()

count    59369.000000
mean       668.403190
std        693.141417
min        -90.000000
25%          0.000000
50%        369.000000
75%       1320.000000
max       2770.000000
Name: gps_height, dtype: float64

In [86]:
#imputing the mean of gps_height values for all extraction_type_class which is not gravity
final_train_df.loc[(final_train_df.extraction_type_class != 'gravity') & (final_train_df.gps_height == 0), 'gps_height'] = hm[0]

In [87]:
#analyzing amount_tsh feature
final_train_df.amount_tsh.sort_values(ascending=False)

id
41564    350000.0
4128     250000.0
7860     200000.0
70107    170000.0
54154    138000.0
15191    120000.0
7737     117000.0
71707    117000.0
64148    117000.0
18724    117000.0
4712     117000.0
38117    117000.0
15801    117000.0
10996    100000.0
69674    100000.0
45188    100000.0
65614     70000.0
58336     60000.0
35268     50000.0
24876     50000.0
3252      50000.0
13946     50000.0
73818     45000.0
30855     45000.0
28057     45000.0
24691     40000.0
33304     40000.0
28620     40000.0
40048     40000.0
73094     40000.0
           ...
73879         0.0
47651         0.0
30809         0.0
44508         0.0
73387         0.0
42214         0.0
22356         0.0
34760         0.0
58055         0.0
33354         0.0
54239         0.0
36737         0.0
55282         0.0
31996         0.0
68007         0.0
57389         0.0
4882          0.0
39125         0.0
20911         0.0
52044         0.0
38714         0.0
62195         0.0
50464         0.0
24263         0.0
14975         0.0
11841         0.0
43662         0.0
54930         0.0
55187         0.0
35938         0.0
Name: amount_tsh, Length: 59369, dtype: float64

In [88]:
final_train_df.groupby(final_train_df.quantity)[['amount_tsh']].describe()

             amount_tsh                                                \
                  count        mean          std  min  25%  50%   75%
quantity
dry              6241.0  129.512097  1608.749618  0.0  0.0  0.0   0.0
enough          33171.0  414.603161  3294.590219  0.0  0.0  0.0  50.0
insufficient    15122.0  250.605171  3204.733646  0.0  0.0  0.0  20.0
seasonal         4047.0  114.843094   576.089208  0.0  0.0  0.0   0.0
unknown           788.0   66.313452   317.345077  0.0  0.0  0.0   0.0


                   max
quantity
dry           117000.0
enough        250000.0
insufficient  350000.0
seasonal       14000.0
unknown         3000.0

In [89]:
#imputing the amount_tsh where "quantity" is "enough"
final_train_df.loc[(final_train_df.quantity == 'enough') & (final_train_df.amount_tsh == 0)][['amount_tsh']].describe()

       amount_tsh
count     21092.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0

In [90]:
am = final_train_df.loc[(final_train_df.quantity == 'enough')][['amount_tsh']].mean()
am

amount_tsh    414.603161
dtype: float64

In [91]:
final_train_df.loc[(final_train_df.quantity == 'enough') & (final_train_df.amount_tsh == 0), 'amount_tsh'] = am[0]

In [92]:
#removing the outlier
final_train_df = final_train_df[final_train_df.amount_tsh != 350000]

In [93]:
final_train_df.region_code.value_counts()

11    5299
17    5007
12    4637
3     4379
5     4039
18    3320
19    3042
2     3024
16    2816
10    2640
4     2509
1     2201
13    2092
14    1979
20    1967
15    1807
6     1608
21    1583
80    1238
60    1023
90     913
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

In [94]:
#dealing with population feature. We will later impute the population by region codes depending on the population distribution
final_train_df[final_train_df.region_code == 10].groupby([final_train_df.status_group, final_train_df.quantity])[['population']].describe()

                                     population                          \
                                          count        mean         std
status_group            quantity
functional              dry                18.0  107.000000  141.447142
                        enough            966.0  182.806418  571.026135
                        insufficient      316.0  305.180380  379.072966
                        seasonal          174.0  316.672414  672.486458
                        unknown             6.0  304.833333  326.235753
functional needs repair dry                 1.0    0.000000         NaN
                        enough            126.0  105.539683  204.389771
                        insufficient       25.0  128.400000  139.853495
                        seasonal           11.0  215.545455  190.694186
                        unknown             1.0  150.000000         NaN
non functional          dry               634.0  159.856467  292.981794
                        enough            173.0  169.855491  226.868103
                        insufficient      154.0  241.915584  281.946756
                        seasonal           22.0  168.409091  119.325748
                        unknown            13.0  215.692308  178.045586


                                        min    25%    50%    75%     max
status_group            quantity
functional              dry             1.0    1.0   50.0  172.5   500.0
                        enough          0.0    1.0   58.0  129.0  8000.0
                        insufficient    0.0   90.0  250.0  412.5  5000.0
                        seasonal        0.0   40.0  200.0  351.5  7000.0
                        unknown         1.0   63.5  176.0  591.5   720.0
functional needs repair dry             0.0    0.0    0.0    0.0     0.0
                        enough          0.0    1.0    1.0   96.0  1523.0
                        insufficient    1.0   20.0   69.0  200.0   452.0
                        seasonal        1.0   75.0  160.0  300.0   650.0
                        unknown       150.0  150.0  150.0  150.0   150.0
non functional          dry             0.0    1.0   60.0  200.0  3800.0
                        enough          1.0    1.0   60.0  250.0  1250.0
                        insufficient    1.0    1.0  200.0  300.0  1500.0
                        seasonal        1.0   67.5  175.0  275.0   360.0
                        unknown         1.0    1.0  250.0  360.0   450.0

In [95]:
#calculating the mean of population grouped by region codes
m1 = final_train_df[final_train_df.region_code == 10][['population']].mean()
m2 = final_train_df[final_train_df.region_code == 11][['population']].mean()
m3 = final_train_df[final_train_df.region_code == 19][['population']].mean()
m4 = final_train_df[final_train_df.region_code == 60][['population']].mean()

In [96]:
#getting the indexes
i1 = final_train_df.loc[(final_train_df.population == 0) & (final_train_df.region_code == 10)].index
i2 = final_train_df.loc[(final_train_df.population == 0) & (final_train_df.region_code == 11)].index
i3 = final_train_df.loc[(final_train_df.population == 0) & (final_train_df.region_code == 19)].index
i4 = final_train_df.loc[(final_train_df.population == 0) & (final_train_df.region_code == 60)].index

In [97]:
#function to impute the missing population values
def popimpute(indexL, meanL):
    for i in range(len(indexL)):
        final_train_df.loc[[indexL[i]], 'population'] = meanL[0]

In [98]:
#calling the function to impute population values
popimpute(i1, m1)
popimpute(i2, m2)
popimpute(i3, m3)
popimpute(i4, m4)

In [99]:
final_train_df.population.value_counts()

0.000000       17053
1.000000        7020
66.406640       2678
200.000000      1938
150.000000      1892
250.000000      1681
300.000000      1476
94.203057       1170
100.000000      1146
50.000000       1139
500.000000      1008
350.000000       986
120.000000       915
400.000000       774
60.000000        706
30.000000        626
40.000000        552
80.000000        532
450.000000       499
199.019318       467
20.000000        462
600.000000       437
230.000000       388
75.000000        289
1000.000000      278
800.000000       269
90.000000        265
130.000000       264
25.000000        255
320.000000       249
               ...
1226.000000        1
733.000000         1
4230.000000        1
299.000000         1
615.000000         1
1274.000000        1
111.000000         1
2461.000000        1
479.000000         1
1036.000000        1
1710.000000        1
3127.000000        1
869.000000         1
5200.000000        1
887.000000         1
612.000000         1
1244.000000        1
2238.000000        1
282.000000         1
2198.000000        1
4210.000000        1
1580.000000        1
8600.000000        1
9865.000000        1
422.000000         1
845.000000         1
2210.000000        1
104.000000         1
711.000000         1
439.000000         1
Name: population, Length: 1051, dtype: int64

In [100]:
#calculating the mean of population grouped by region codes where population value is 1
n1 = final_train_df[final_train_df.region_code == 4][['population']].mean()
n2 = final_train_df[final_train_df.region_code == 3][['population']].mean()
n3 = final_train_df[final_train_df.region_code == 2][['population']].mean()
n4 = final_train_df[final_train_df.region_code == 5][['population']].mean()
n5 = final_train_df[final_train_df.region_code == 10][['population']].mean()
n6 = final_train_df[final_train_df.region_code == 15][['population']].mean()
n7 = final_train_df[final_train_df.region_code == 6][['population']].mean()
n8 = final_train_df[final_train_df.region_code == 21][['population']].mean()
n9 = final_train_df[final_train_df.region_code == 80][['population']].mean()

In [101]:
#getting indexes where population is 1
j1 = final_train_df.loc[(final_train_df.population == 1) & (final_train_df.region_code == 4)].index
j2 = final_train_df.loc[(final_train_df.population == 1) & (final_train_df.region_code == 3)].index
j3 = final_train_df.loc[(final_train_df.population == 1) & (final_train_df.region_code == 2)].index
j4 = final_train_df.loc[(final_train_df.population == 1) & (final_train_df.region_code == 5)].index
j5 = final_train_df.loc[(final_train_df.population == 1) & (final_train_df.region_code == 10)].index
j6 = final_train_df.loc[(final_train_df.population == 1) & (final_train_df.region_code == 15)].index
j7 = final_train_df.loc[(final_train_df.population == 1) & (final_train_df.region_code == 6)].index
j8 = final_train_df.loc[(final_train_df.population == 1) & (final_train_df.region_code == 21)].index
j9 = final_train_df.loc[(final_train_df.population == 1) & (final_train_df.region_code == 80)].index

In [102]:
#calling the function to impute population values
popimpute(j1, n1)
popimpute(j2, n2)
popimpute(j3, n3)
popimpute(j4, n4)
popimpute(j5, n5)
popimpute(j6, n6)
popimpute(j7, n7)
popimpute(j8, n8)
popimpute(j9, n9)

In [103]:
final_train_df.population.value_counts()

0.000000       17053
66.406640       2678
1.000000        2468
200.000000      1938
150.000000      1892
250.000000      1681
105.747888      1531
300.000000      1476
94.203057       1170
100.000000      1146
50.000000       1139
500.000000      1008
350.000000       986
120.000000       915
239.757274       910
400.000000       774
60.000000        706
30.000000        626
40.000000        552
268.733597       547
80.000000        532
450.000000       499
234.224629       484
199.019318       467
20.000000        462
600.000000       437
230.000000       388
365.500277       337
75.000000        289
1000.000000      278
               ...
1226.000000        1
1185.000000        1
1274.000000        1
748.000000         1
733.000000         1
4230.000000        1
111.000000         1
1036.000000        1
2016.000000        1
711.000000         1
1710.000000        1
479.000000         1
869.000000         1
3127.000000        1
612.000000         1
5200.000000        1
887.000000         1
1244.000000        1
2238.000000        1
282.000000         1
2198.000000        1
4210.000000        1
8600.000000        1
1580.000000        1
9865.000000        1
422.000000         1
845.000000         1
2210.000000        1
104.000000         1
2685.000000        1
Name: population, Length: 1060, dtype: int64

In [104]:
final_train_df.longitude.sort_values()

id
72742     0.000000
20192     0.000000
37105     0.000000
23266     0.000000
13130     0.000000
24768     0.000000
13691     0.000000
31479     0.000000
61449     0.000000
15        0.000000
68987     0.000000
65706     0.000000
8332      0.000000
15636     0.000000
48648     0.000000
25833     0.000000
56868     0.000000
17712     0.000000
40786     0.000000
45238     0.000000
6561      0.000000
72575     0.000000
55791     0.000000
39344     0.000000
13533     0.000000
35292     0.000000
58641     0.000000
62075     0.000000
27271     0.000000
26147     0.000000
           ...
44174    40.286679
50315    40.287471
58348    40.295239
72000    40.298026
31763    40.300378
63714    40.301214
39704    40.301987
23189    40.301999
34074    40.303795
35119    40.304418
10649    40.305421
13289    40.305644
55244    40.311031
41875    40.311540
45964    40.319699
73518    40.320419
12547    40.320693
62933    40.320693
72746    40.320693
20666    40.320699
20120    40.321966
31454    40.322169
25152    40.322625
17282    40.322805
7759     40.322832
69830    40.323402
47144    40.325226
48316    40.325240
41000    40.344301
39105    40.345193
Name: longitude, Length: 59368, dtype: float64

In [105]:
#getting the longitude values outside of tanzania, back inside
final_train_df.loc[(final_train_df.longitude == 0), 'longitude'] = final_train_df.longitude.mean()

In [106]:
#transforming the longitude and latitude features to three dimensional co-ordinates
final_train_df['x'] = np.cos(final_train_df.latitude) * np.cos(final_train_df.longitude)

In [107]:
final_train_df['y'] = np.cos(final_train_df.latitude) * np.sin(final_train_df.longitude)

In [108]:
final_train_df['z'] = np.sin(final_train_df.latitude)

In [109]:
#removing waterpoint_type feature
final_train_df =final_train_df.drop('region', axis=1)

In [110]:
#removing waterpoint_type feature
final_train_df =final_train_df.drop('lga', axis=1)

In [111]:
#removing waterpoint_type feature
final_train_df =final_train_df.drop('ward', axis=1)

In [112]:
final_train_df.shape

(59368, 27)

In [113]:
final_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59368 entries, 69572 to 26348
Data columns (total 27 columns):
amount_tsh               59368 non-null float64
funder                   59368 non-null object
gps_height               59368 non-null float64
installer                59368 non-null object
longitude                59368 non-null float64
latitude                 59368 non-null float64
basin                    59368 non-null object
region_code              59368 non-null int64
district_code            59368 non-null int64
population               59368 non-null float64
public_meeting           59368 non-null bool
scheme_management        59368 non-null object
permit                   59368 non-null bool
construction_year        59368 non-null float64
extraction_type_class    59368 non-null object
management_group         59368 non-null object
payment_type             59368 non-null object
quality_group            59368 non-null object
quantity                 59368 non-null object
source_type              59368 non-null object
source_class             59368 non-null object
waterpoint_type_group    59368 non-null object
status_group             59368 non-null object
age_wo                   59368 non-null float64
x                        59368 non-null float64
y                        59368 non-null float64
z                        59368 non-null float64
dtypes: bool(2), float64(10), int64(2), object(13)
memory usage: 14.4+ MB

In [114]:
final_train_df.waterpoint_type_group.value_counts()

communal standpipe    34613
hand pump             17477
other                  6372
improved spring         783
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

In [115]:
#converting all categorical variables to dummy variables
train_d = final_train_df.copy()
del train_d["status_group"]
train_d = pd.get_dummies(train_d)

In [116]:
train_d.shape

(59368, 96)

In [117]:
train_d.shape

(59368, 96)

In [120]:
#do the above steps with test data
df_test = pd.read_csv("testset1.csv" , sep = ',', index_col = 'id')

In [121]:
df_test.shape

(14850, 96)

In [122]:
#applying random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [123]:
clf = RandomForestClassifier(n_estimators=500, random_state=1234 , max_leaf_nodes=5500)
cv_score = cross_val_score(clf, train_d, final_train_df['status_group'], cv = 5, n_jobs = -1)

In [124]:
print('CV Score is: '+ str(np.mean(cv_score))) #param tuning and cleaned data and year sorted

CV Score is: 0.8102174528720225

In [125]:
clf.fit(train_d, final_train_df['status_group'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=5500,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=1234, verbose=0,
            warm_start=False)

In [126]:
clf.feature_importances_

array([3.52882700e-02, 4.17492893e-02, 6.82815550e-02, 6.50905654e-02,
       1.87249021e-02, 1.91600143e-02, 2.95542250e-02, 5.45499112e-03,
       6.80880223e-03, 3.65563026e-02, 3.82308581e-02, 6.29950007e-02,
       6.26689406e-02, 6.08035635e-02, 1.90606865e-03, 7.35205579e-03,
       1.73491517e-03, 9.41378539e-04, 6.52069441e-03, 1.19636352e-03,
       1.10746936e-03, 1.48798088e-03, 1.29645401e-03, 1.11516114e-03,
       2.97048937e-03, 2.37569268e-03, 1.39876107e-03, 8.05012461e-04,
       1.73159274e-03, 6.61466217e-03, 3.37985265e-03, 8.94529890e-04,
       7.47431435e-04, 6.67114987e-03, 2.46731891e-03, 1.26079139e-03,
       3.78331018e-03, 2.94945020e-03, 2.35168907e-03, 3.07202417e-03,
       3.27146228e-03, 2.62499394e-03, 2.67937277e-03, 2.36430981e-03,
       2.29879547e-03, 1.49639857e-03, 1.41017572e-03, 6.40750844e-03,
       1.70846988e-03, 3.65485454e-03, 2.14586653e-03, 2.44432600e-03,
       3.47012805e-03, 9.03208436e-03, 9.24875536e-03, 3.14305535e-03,
       3.12232147e-02, 6.77135468e-04, 4.60509204e-03, 2.71390289e-04,
       3.36971223e-03, 1.37974514e-03, 1.54807821e-03, 4.54632027e-03,
       2.88241989e-03, 5.21824231e-03, 1.37388097e-02, 2.38326522e-03,
       9.72616713e-04, 5.92926847e-03, 6.19978766e-03, 7.34442802e-04,
       3.99619540e-04, 5.79013300e-03, 9.87737587e-04, 3.19872903e-03,
       6.98961902e-03, 8.36591078e-02, 2.16922013e-02, 1.47919454e-02,
       6.74622898e-03, 1.72316453e-03, 5.72337462e-03, 4.10829703e-03,
       3.84457638e-03, 6.24709230e-03, 6.73548526e-03, 4.78893191e-03,
       4.95089712e-03, 3.81507939e-04, 2.58604073e-04, 7.89005551e-03,
       1.70925888e-05, 7.48687157e-03, 1.65153003e-03, 3.73575198e-02])

In [127]:
model1 = clf.predict(df_test)

In [128]:
model1

array(['functional', 'functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

In [129]:
subdf = pd.DataFrame(model1)

In [130]:
subdf.head()

                0
0      functional
1      functional
2      functional
3  non functional
4      functional

In [131]:
subdf['id'] = df_test.index

In [132]:
del subdf[0]

In [133]:
subdf['status_group'] = model1

In [134]:
subdf.to_csv('submission16.csv', sep=',', index=False)

In [135]:
subdf.status_group.value_counts()

functional                 9151
non functional             5159
functional needs repair     540
Name: status_group, dtype: int64

In [136]:
final_train_df.status_group.value_counts()

functional                 32247
non functional             22805
functional needs repair     4316
Name: status_group, dtype: int64